{{>site-header}}
  <div class="page-content">
  <h2>{{ this.page.title }}</h2>
  {{#markdown}}
    {{> body}}
  {{/markdown}}
  <ul>
    {{#withSort post 'data.posted'}}
      {{#each this.pages }}
      <li><a href="{{ replaceStr this.dest 'dist' '' }}">{{ this.data.title }}</a></li>
      {{/each}}
    {{/withSort}}
  </ul>
  </div>
{{>site-footer}}